<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
         * {
            box-sizing: border-box;
         }
        h1 {
            color: red;
            text-align: center;
        }

        .container {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }

        .scores {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
  }
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #resultDiv{
    display: flex;
    height: 200px;
    width: 200px;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    align-items: center;
    justify-content: center;
  }

    </style>
</head>

<body>

    <div class="container">
        <h1> Coin flip game with server-side logic</h1>
        <div class="wins-loss">
  
        </div>
       
        <div class="scores">

                <input type="text" placeholder="input your name" value="" id="nameInput" name="name" />
            
        </div>
        <div id="resultDiv">
 
        </div>
        <span>Wins</span><span id="span1"></span><br />
        <span>Losses</span><span id="span"></span><br />

        <div id="buttons">
            <button id="flipHeads" name="flipcoin">
                heads
            </button>
            <button id="flipTails" name="flipcoin">
                tails
            </button>
        </div>
      

    <script>
        
        const flipCoinButtonHeads = document.querySelector('#flipHeads')
        const flipCoinButtonTails = document.querySelector('#flipTails')
        const resultDiv = document.querySelector('#resultDiv')
        const name =  document.querySelector('#nameInput')
        let playerName = ''

name.addEventListener('input', function (event) {
    playerName += event.data
    // console.log(playerName)
})

        flipCoinButtonHeads.addEventListener('click', _ => {
          
            fetch('/flip', {
                method: 'post',
                headers: { 'Content-Type': 'application/json' },
                body: JSON.stringify({
                    result: 'heads',
                    playerName
             
                })
            })
                .then(res => {
                    if (res.ok) return res.json()
                    console.log(res.json)
                })
                .then(res => {
                    if (res === 'You Win') {
                        console.log(res)
                        resultDiv.textContent = 'You Win'
                    }
                    else {
                        console.log(res)
                        resultDiv.textContent = 'You Lose'
                    }
                })
            })


            flipCoinButtonTails.addEventListener('click', _ => {
                fetch('/flip', {
                    method: 'post',
                    headers: { 'Content-Type': 'application/json' },
                    body: JSON.stringify({
                        result: 'tails',
                        playerName
                    })
                })
                    .then(res => {
                        if (res.ok) return res.json()
                    })
                    .then(res => {
                    if (res === 'You Win') {
                        console.log(res)
                        resultDiv.textContent = 'You Win'
                    }
                    else {
                        console.log(res)
                        resultDiv.textContent = 'You Lose'
                    }
                    
                
                })
            })


    </script>

</body>

</html>